nodeRed/flow.json
[
    {
        "id": "2656b2a9.c5c0ee",
        "type": "tab",
        "label": "node-red Joystick",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe8efdb.12963",
        "type": "udp out",
        "z": "2656b2a9.c5c0ee",
        "name": "SCUTTLE",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "3553",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "26f86aec.2b1fc6",
        "type": "udp in",
        "z": "2656b2a9.c5c0ee",
        "name": "SCUTTLE",
        "iface": "",
        "port": "3554",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "49e35867.fb7b08"
            ]
        ]
    },
    {
        "id": "49e35867.fb7b08",
        "type": "json",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "1ecbf1c0.7cb56e"
            ]
        ]
    },
    {
        "id": "1ecbf1c0.7cb56e",
        "type": "ui_gauge",
        "z": "2656b2a9.c5c0ee",
        "name": "Robot Voltage Gauge",
        "group": "14df050c.ea8e8b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Robot Voltage",
        "label": "Volts",
        "format": "{{msg.payload.robotBatery}}",
        "min": "8",
        "max": "12",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "cd117c4d.b0825",
        "type": "ui_slider",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "label": "Speed Multiplier",
        "tooltip": "",
        "group": "14df050c.ea8e8b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "speed",
        "topicType": "str",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "3396c682.2700ea"
            ]
        ]
    },
    {
        "id": "3788812f.874d6e",
        "type": "ui_button",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "group": "14df050c.ea8e8b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "3396c682.2700ea"
            ]
        ]
    },
    {
        "id": "36b7ef26.8352",
        "type": "ui_switch",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "label": "Lights",
        "tooltip": "",
        "group": "14df050c.ea8e8b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "lightSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "3396c682.2700ea"
            ]
        ]
    },
    {
        "id": "a4ab53fd.101fa",
        "type": "function",
        "z": "2656b2a9.c5c0ee",
        "name": "selector",
        "func": "msg.topic = \"leftJoystick\"\nmsg.payload = msg.payload.vector.y\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "3396c682.2700ea"
            ]
        ]
    },
    {
        "id": "a9942eea.28a5a",
        "type": "json",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 770,
        "y": 320,
        "wires": [
            [
                "fe8efdb.12963"
            ]
        ]
    },
    {
        "id": "f82970c9.ac72a",
        "type": "function",
        "z": "2656b2a9.c5c0ee",
        "name": "selector",
        "func": "msg.topic = \"rightJoystick\"\nmsg.payload = msg.payload.vector.y\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "3396c682.2700ea"
            ]
        ]
    },
    {
        "id": "3396c682.2700ea",
        "type": "join",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 320,
        "wires": [
            [
                "a9942eea.28a5a"
            ]
        ]
    },
    {
        "id": "11addc8c.e26373",
        "type": "ui_joystick",
        "z": "2656b2a9.c5c0ee",
        "name": "Right Joystick",
        "group": "14df050c.ea8e8b",
        "order": 4,
        "width": 3,
        "height": 3,
        "trigger": "all",
        "timeInterval": "50",
        "useThemeColor": false,
        "color": "#f10404",
        "threshold": "0.1",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f82970c9.ac72a"
            ]
        ]
    },
    {
        "id": "d53ef67.89d7908",
        "type": "ui_joystick",
        "z": "2656b2a9.c5c0ee",
        "name": "Left Joystick",
        "group": "14df050c.ea8e8b",
        "order": 3,
        "width": 3,
        "height": 3,
        "trigger": "all",
        "timeInterval": "50",
        "useThemeColor": false,
        "color": "#f10404",
        "threshold": "0.1",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "a4ab53fd.101fa"
            ]
        ]
    },
    {
        "id": "fe8c92e7.41026",
        "type": "udp out",
        "z": "2656b2a9.c5c0ee",
        "name": "SCUTTLE",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "3553",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 880,
        "wires": []
    },
    {
        "id": "18f690f.559f26f",
        "type": "udp in",
        "z": "2656b2a9.c5c0ee",
        "name": "SCUTTLE",
        "iface": "",
        "port": "3554",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "5abde34c.22105c"
            ]
        ]
    },
    {
        "id": "5abde34c.22105c",
        "type": "json",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "e676597a.a38708"
            ]
        ]
    },
    {
        "id": "e676597a.a38708",
        "type": "ui_gauge",
        "z": "2656b2a9.c5c0ee",
        "name": "Robot Voltage Gauge",
        "group": "b5c05cb9.3a8b7",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Robot Voltage",
        "label": "Volts",
        "format": "{{msg.payload.robotBatery}}",
        "min": "8",
        "max": "12",
        "colors": [
            "#b30000",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6709edb8.1d09c4",
        "type": "ui_slider",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "label": "Speed Multiplier",
        "tooltip": "",
        "group": "b5c05cb9.3a8b7",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "speed",
        "topicType": "str",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "70a1a310.6bc50c"
            ]
        ]
    },
    {
        "id": "bc09647b.3116b8",
        "type": "ui_button",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "group": "b5c05cb9.3a8b7",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "70a1a310.6bc50c"
            ]
        ]
    },
    {
        "id": "b6ac9a1.c8f0b68",
        "type": "ui_switch",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "label": "Lights",
        "tooltip": "",
        "group": "b5c05cb9.3a8b7",
        "order": 13,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "lightSwitch",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 170,
        "y": 980,
        "wires": [
            [
                "70a1a310.6bc50c"
            ]
        ]
    },
    {
        "id": "1ac75b86.9a2644",
        "type": "json",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 770,
        "y": 880,
        "wires": [
            [
                "fe8c92e7.41026"
            ]
        ]
    },
    {
        "id": "ed88b048.8287",
        "type": "function",
        "z": "2656b2a9.c5c0ee",
        "name": "selector",
        "func": "msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 800,
        "wires": [
            [
                "70a1a310.6bc50c"
            ]
        ]
    },
    {
        "id": "70a1a310.6bc50c",
        "type": "join",
        "z": "2656b2a9.c5c0ee",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 880,
        "wires": [
            [
                "1ac75b86.9a2644"
            ]
        ]
    },
    {
        "id": "edc76ee1.ee9ee",
        "type": "ui_joystick",
        "z": "2656b2a9.c5c0ee",
        "name": "Joystick",
        "group": "b5c05cb9.3a8b7",
        "order": 4,
        "width": 4,
        "height": 4,
        "trigger": "all",
        "timeInterval": "50",
        "useThemeColor": false,
        "color": "#f10404",
        "threshold": "0.1",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "ed88b048.8287"
            ]
        ]
    },
    {
        "id": "14df050c.ea8e8b",
        "type": "ui_group",
        "name": "Two-Joystick",
        "tab": "a22262e3.b002b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b5c05cb9.3a8b7",
        "type": "ui_group",
        "name": "One-Joystick",
        "tab": "fef5ae81.11f63",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "a22262e3.b002b",
        "type": "ui_tab",
        "name": "Two-Joystick",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fef5ae81.11f63",
        "type": "ui_tab",
        "name": "One-Joystick",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
